[submodule "repos/account"]
	path = repos/account
	url = https://github.com/InnoverseTeam/account
[submodule "repos/Innoverse-Patcher"]
	path = repos/Innoverse-Patcher
	url = https://github.com/InnoverseTeam/Innoverse-Patcher.git
